body /* On travaille sur la balise body, donc sur TOUTE la page */
{
    background-image: url("img/hacker.jpg");
    background-attachment: fixed; /* Le fond restera fixe */
    background-repeat: no-repeat; /* Le fond ne sera pas répété */
    background-position: top right; /* Le fond sera placé en haut à droite */
    background-size: cover; /* Le fond prend toute la dimension de la page sans perte de qualité */
    font-family: ;
}

/*-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------*/

/* Menu navigation */

nav 
{
    position: fixed; top: 20px; left: 0px;
    height: 50px;
    width: 100%;
}

nav ul
{
    list-style-type: none; /* enlève l'image ronde servant de puce */
    display: flex; /* menu en ligne côte à côte */ 
    justify-content: center;
    align-items: flex-end; /*alignés à la fin*/
}

nav li
{
    margin-right: 50px; /* marge à droite de chaque nav de 50 px*/
}

nav a
{
    font-size: 20px;
    color: #ffffff;
    padding-bottom: 3px;
    text-decoration: none; /*le menu ne sera plus souligné*/
}

nav a:hover /* survol de la souris */
{
    color: cadetblue;
    border-top: 3px solid cadetblue;
    border-bottom: 3px solid cadetblue;
    padding: 10px;
}
