body /* On travaille sur la balise body, donc sur TOUTE la page */
{
    background-image: url("img/hacker.jpg");
    background-attachment: fixed; /* Le fond restera fixe */
    background-repeat: no-repeat; /* Le fond ne sera pas répété */
    background-position: top right; /* Le fond sera placé en haut à droite */
    background-size: cover; /* Le fond prend toute la dimension de la page sans perte de qualité */
    font-family: ;
}

/*-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------*/

/* Menu navigation */

nav 
{
    position: fixed; top: 0px; left: 0px;
    height: 50px;
    width: 100%;
}